.about {
    box-sizing: border-box;
    width:100%;
    padding: 8px 16px;

    p {
        word-wrap: break-word;
    }
}

.contact {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}